/* Лэйаут
=========================================================== */


/* body */
body { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }


/* Шапка */
.header { display: block; position: fixed; top: 0; right: 0; left: 0; height: 62px; background-color: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.2); z-index: 2; }

	.header__logo { display: block; position: absolute; top: 10px; left: 15px; height: 42px; padding: 0 0 0 49px; font-family: 'roboto_cond', sans-serif; font-weight: normal; transition: 0.2s; }
	a.header__logo:hover { opacity: 0.85; }
	a.header__logo:active { opacity: 0.7; }
	
		.header__logo::before { display: block; position: absolute; content: ' '; top: 0; left: 0; width: 42px; height: 42px; background: url(/img/layout/logo.svg) center center no-repeat; background-size: 42px 42px; border-radius: 21px; }
		
		.header__logo > span,
		.header__logo > i { display: block; }
		
		.header__logo > span { font-size: 20px; }
		.header__logo > i { margin-top: -3px; font-style: normal; font-size: 10px; opacity: 0.7; }
	
	
/* Контент */
.content { display: block; position: fixed; top: 62px; right: 0; bottom: 0; left: 0; overflow-y: auto; z-index: 1; }
.content.-no-scroll { overflow: hidden; }
.content.-padding { padding: 20px 15px; }

.child-screen { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: url(/img/_temp/child.jpg) center center no-repeat; background-size: cover}