/* Лэйаут
=========================================================== */


/* body */
body { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }


/* Шапка */
.header { display: block; position: fixed; top: 0; right: 0; left: 0; height: 62px; background-color: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.2); z-index: 2; }

	.header__logo { display: block; position: absolute; top: 10px; left: 15px; width: 192px; height: 42px; padding: 0 0 0 49px; font-family: 'roboto_cond', sans-serif; font-weight: normal; transition: 0.2s; }
	a.header__logo:hover { opacity: 0.85; }
	a.header__logo:active { opacity: 0.7; }
	
		.header__logo::before { display: block; position: absolute; content: ' '; top: 0; left: 0; width: 42px; height: 42px; background: url(/img/layout/logo.svg) center center no-repeat; background-size: 22px 22px; border: 1px solid rgba(0,0,0,0.15); border-radius: 21px; }
		
		.header__logo > span,
		.header__logo > i { display: block; }
		
		.header__logo > span { font-size: 20px; }
		.header__logo > i { margin-top: -3px; font-style: normal; font-size: 10px; opacity: 0.7; }
	
	
/* Контент */
.content { display: block; position: fixed; top: 62px; right: 0; bottom: 50px; left: 0; padding: 20px 15px; overflow-y: auto; z-index: 1; }


/* Футер */
.footer { display: block; position: fixed; right: 0; bottom: 0; left: 0; height: 50px; font-size: 0; white-space: nowrap; background-color: #fff; box-shadow: inset 0 1px 0 rgba(0,0,0,0.1); z-index: 2; }

	.footer__item { display: inline-block; vertical-align: top; width: 50%; height: 50px; padding-top: 8px; color: rgba(0,0,0,0.7); text-align: center; transition: 0.2s; }
	.footer__item:hover { color: #000; }
	.footer__item:active { box-shadow: inset 0 0 25px 25px rgba(0,0,0,0.1); }
	.footer__item.-active { cursor: default; color: #000; background-color: rgba(239,210,56,0.5); box-shadow: none; }
	
		.footer__item > span,
		.footer__item > i { display: block; }
		
		.footer__item > span { font-size: 14px; }
		.footer__item > i { font-style: normal; font-size: 10px; }